@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-HeavyItalic.woff2') format('woff2'),
        url('../fonts/Oswald-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.woff2') format('woff2'),
        url('../fonts/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Demi-BoldItalic.woff2') format('woff2'),
        url('../fonts/Oswald-Demi-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
        url('../fonts/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-LightItalic.woff2') format('woff2'),
        url('../fonts/Oswald-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Extra-LightItalic.woff2') format('woff2'),
        url('../fonts/Oswald-Extra-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald Stencil';
    src: url('../fonts/OswaldStencil-Bold.woff2') format('woff2'),
        url('../fonts/OswaldStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-MediumItalic.woff2') format('woff2'),
        url('Oswald-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-DemiBold.woff2') format('woff2'),
        url('../fonts/Oswald-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-RegularItalic.woff2') format('woff2'),
        url('../fonts/Oswald-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-BoldItalic.woff2') format('woff2'),
        url('../fonts/Oswald-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Heavy.woff2') format('woff2'),
        url('../fonts/Oswald-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt ExCn Th';
    src: url('../fonts/ProximaNovaAExCn-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaAExCn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-MediumItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova ScOsf Cn Th';
    src: url('../fonts/ProximaNovaSCond-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaSCond-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Semibold.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-BlackItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('../fonts/ProximaNovaCond-SemiboldIt.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
        url('../fonts/ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova ExCn Th';
    src: url('../fonts/ProximaNovaExCn-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaExCn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Light.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Cn Th';
    src: url('../fonts/ProximaNovaACond-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaACond-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
        url('../fonts/ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('../fonts/ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('../fonts/ProximaNovaCond-Light.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Bold.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-LightIt.woff2') format('woff2'),
        url('../fonts/ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('../fonts/ProximaNovaCond-RegularIt.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-LightItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Medium.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('../fonts/ProximaNovaCond-LightIt.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-BoldIt.woff2') format('woff2'),
        url('../fonts/ProximaNova-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline Regular';
    src: url('../fonts/TiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova ScOsf ExCn Th';
    src: url('../fonts/ProximaNovaSExCn-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaSExCn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Black.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('../fonts/ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}