.press-list {
}
.press-list-item {
  position: relative;
  -webkit-font-smoothing: anitaliased;
  %headings {
    white-space: normal;
    letter-spacing: -1px;
    vertical-align: middle;
    color: $brand-black;
    opacity: .8;
  }
  .case-study-info {
    height: 5.5rem;
    overflow: hidden;
  }
  &:hover {
    %headings { opacity: 1; }
  }
}
@media(min-width: 960px) {
  .press-list-item {
    width: calc(25% - 1em);
  }
}
@media(min-width: 1280px) {
  .press-list-item {
    width: calc(20% - 1em);
  }
}
